<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>GSN Server</display-name>

<!-- *******************************************************************************     
      GSN's Main Servlets, Must be enabled for any kind of HTTP based access
     ******************************************************************************* -->
    
	<!-- GSN START -->
	<servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <display-name>GSN XML Output</display-name>
        <servlet-class>au.csiro.gsnlite.http.ControllerServlet</servlet-class>
    </servlet>

	<servlet>
        <servlet-name>Streaming</servlet-name>
        <display-name>GSN Data Streaming Interface</display-name>
        <servlet-class>gsn.http.rest.RestStreamHanlder</servlet-class>
    </servlet>
   
	<!-- mapping for GSN -->
	
	<servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/gsn</url-pattern>
    </servlet-mapping>
    
	 <servlet-mapping>
        <servlet-name>Streaming</servlet-name>
        <url-pattern>/streaming/*</url-pattern>
    </servlet-mapping>


	<!-- GSN END -->
	
    <welcome-file-list>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
